node_modules/
.DS_Store
*.log
.env
.railway/
tmp/
backups/
site/c/
site/goal/
site/protocol/
site/target/
site/pathway/
site/learn/
site/solve.html
site/home.html
site/sitemap.xml
site/robots.txt
site/og/

scratchpad/
site/anatomy.html
site/energy/
site/muscle/
site/physiology/
site/learn.html
site/stack.html
site/pros.html
